@CHARSET "UTF-8";
@media ( max-width : 845px) {
	body {
		min-width: 845px;
	}
}

.oper-content {
	padding-left: 20px;
	position: absolute;
	top: 70px;
	padding-right: 20px;
}

#div_canvas {
	margin-left: 20px;
}

div.img {
	margin: 5px;
	padding: 3px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
	height: auto;
	border: 2px solid #ffffff;
}

div.img-clicked {
	margin: 5px;
	padding: 3px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
	height: auto;
	border: 2px solid #0000ff;
}

div.img img {
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
}

div.img-clicked img {
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
}

div.img:hover {
	background-color: rgba(232, 232, 232, .8);
	border: 2px solid #cccccc;
}

div.desc {
	text-align: center;
	font-weight: normal;
	width: 120px;
	margin: 2px;
	margin-top: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

div.desc:hover {
	text-overflow: inherit;
	overflow: visible;
}

div.desc a:link {
	color: #000000;
} 
div.desc a:visited {
	color: #000000;
} 
div.desc a:hover {
	color: #000000;
} 
div.desc a:active {
	color: #000000;
} 
div.img-content {
	overflow: hidden;
	overflow-y: scroll;
	height: 300px;
}

div.border-rect {
	position: absolute;
	border-style: solid;
	border-color: #0000ff;
	border-width: 2px;
	/*following 4 items will be overwriten in js script*/
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

div.border-rect-active {
	position: absolute;
	border-style: solid;
	border-color: #c71585;
	border-width: 2px;
}

#border_rect a :hover {
	border-color: rgba(255, 0, 0, 0.5);
	border-width: 4px;
}

.narrow-col {
	padding-left: 10px;
	padding-right: 10px;
}