body {
	background: #2d3b36 url(/Souvenirs/res/image/bg.jpg) no-repeat bottom
		center fixed;
	background-size: cover;
}

@media ( min-width :768px) {
	.mainbody {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10%;
		margin-left: 10%;
		font-family: Tahoma, "Microsoft YaHei", sans-serif;
		background: #E8FFFF;
		padding-bottom: 20px;
	}
}

@media ( max-width : 767px) {
	.mainbody {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 5px;
		margin-left: 5px;
		font-family: Tahoma, "Microsoft YaHei", sans-serif;
		background: #E8FFFF;
		padding-bottom: 20px;
	}
}

.footer {
	margin-top: 20px;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	font-family: Tahoma, "Microsoft YaHei", sans-serif;
	background: #E8FFFF;
	padding-top:10px;
	padding-bottom:10px;
}

div.img {
	margin: 5px;
	padding: 3px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
	height: auto;
	border: 2px solid #ffffff;
}

div.img img {
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
}

div.img:hover {
	background-color: rgba(232, 232, 232, .8);
	border: 2px solid #cccccc;
}

div.desc {
	text-align: center;
	font-weight: normal;
	margin: 5px auto;
 	margin-top: 5px; 
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width:120px;
}

div.desc:hover {
	white-space: normal;
	text-overflow: clip;
	 word-wrap: break-word;
	/*overflow: visible;  */
}

div.desc a:link {
	color: #000000;
} /* 未访问链接*/
div.desc a:visited {
	color: #000000;
} /* 已访问链接 */
div.desc a:hover {
	color: #000000;
} /* 鼠标移动到链接上 */
div.desc a:active {
	color: #000000;
} /* 鼠标点击时 */